# Sesión 5: A/B + estado de arranque + datos
#   p1 rootfs A · p2 rootfs B · p3 bootstate (FAT, compartida con U-Boot) · p4 datos (ext4)
image bootstate.vfat {
	vfat {
		label = "BOOTSTATE"
		files = { "bootstate.txt" }
	}
	size = 8M
}

image data.ext4 {
	ext4 {
		label = "data"
	}
	size = 32M
}

image disk.img {
	hdimage {
		partition-table-type = "mbr"
	}

	# Slot = ext4 (128 MiB) + árbol dm-verity + FIT firmado en 136 MiB (ver scripts/mk-slot-image.sh)
	partition rootfsA {
		partition-type = 0x83
		image = "slot.img"
		size = 160M
	}

	partition rootfsB {
		partition-type = 0x83
		image = "slot.img"
		size = 160M
	}

	partition bootstate {
		partition-type = 0x0C
		image = "bootstate.vfat"
	}

	partition data {
		partition-type = 0x83
		image = "data.ext4"
	}
}
