# Sesión 1: una partición con el rootfs. En la sesión 5 pasa a A/B + datos.
image disk.img {
	hdimage {
		partition-table-type = "mbr"
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
	}
}
